
.line {
  width: 80%;
}

.chat-logo {
  font-size: 25px;
  text-align: center;
  letter-spacing: 3px;
}

.chats-user {
  width: 70%;
  margin: 0 auto;
  overflow: scroll;
  height: 64vh;
}

.chats-users-list {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px;
}

.chat-user-list {
  font-size: 20px;
  color: black;
}

.chat-user-list:hover {
  border-bottom: 1px solid black;
  opacity: 0.5;
}

.chat-btn {
  background-color: deepskyblue;
  border: none;
  border-radius: 5px;
  padding: 11px 16px;
  cursor: pointer;
  color: white;
  display: inline;
  width: 100px;
  height: 45px;
}

.chat-btn:hover {
  opacity: 0.6;
}

.follow-btn {
  background-color: deepskyblue;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  color: white;
}

.follow-btn:hover {
  opacity: 0.7;
}

@media (max-width: 520px) {
  .chat-logo {
    font-size: 17px;
  }
  .chats-users-list {
    margin: 5px 10px;
  }
}
