.chat-room {
  padding: 50px 0 30px 0;
  margin: 0 auto;
  background-color: rgba(192, 192, 192, 0.293)
}

.chat-member {
  text-align: center;
}

.chat-user-names {
  display: flex;
  justify-content: center;
}

.chat-user-name {
  display: inline;
}

.chat-user-name a {
  color: black;
}

.chat-user-name:hover {
  opacity: 0.6;
}

.chat {
  width: 50%;
  height: 420px;
  margin: 0 auto;
  background-color: rgba(0, 183, 255, 0.1);
  overflow: scroll;
}

.message-form {
  display: flex;
}

.mycomment .current-message-time {
  text-align: right;
  margin-right: 5px;
  margin-bottom: 3px;
  
}

.mycomment .current-message-time .current-message {
  font-size: 13px;
  background-color: lightgreen;
  border: 1px solid lightgreen;
  border-radius: 8px;
  padding: 1px 2px;
  word-break: break-all;
  display: inline-block;
  text-align: left;
}

.mycomment .current-message-time .time {
  vertical-align: top;
}

.time {
  font-size: 5px;
}

.another .current-message-time {
  margin-left: 5px;
  margin-bottom: 3px;
  display: flex;
}

.another .current-message-time .current-message {
  font-size: 13px;
  background-color: rgba(192, 192, 192, 0.5);
  border-radius: 8px;
  padding: 1px 2px;
  margin-right: 5px;
  word-break: break-all;
}

.another .current-message-time .time {
  order: 1;
}

.messages-form {
  margin: 0 auto;
  width: 50%;
}

.new_message {
  display: flex;
  justify-content: center;
}

.form-text-field {
  width: 90%;
  border: none;
  outline: none;
  height: 26px;
  resize: none;
}

.form-submit {
  width: 10%;
  border: none;
  background-color: white;
  color: deepskyblue;
  cursor: pointer;
}

.form-submit:hover {
  opacity: 0.5;
}

@media (max-width: 619px) {
  .messages-form {
    width: 70%;
  }
  .form-text-field {
    width: 83%;
    
  }
  .form-submit {
    width: 17%;
    
  }
  .chat {
    width: 70%;
  }
}