<%= render "shared/header" %>
<div id="container">
  <% breadcrumb :follower %>
  <div class=follows>
    <h1 class="follows-log">Follower</h1>
    <hr class="line">
    <%= render "shared/follow" %>
  </div>
  <div class="fix">
    <%= render "shared/footer" %>
  </div>
</div>