<%= render "shared/header" %>
<div id="container">
  <% breadcrumb :following %>
  <div class=follows>
    <h1 class="follows-log">Following</h1>
    <hr class="line">
    <%= render "shared/follow" %>
  </div>
  <div class="fix">
    <%= render "shared/footer" %>
  </div>
</div>
