<div class="wrapper">
  <div class="top-wrapper">
    <h1>Welcome To KIREI</h1>
    <h1>Make men more beautiful</h1>
    <p>ようこそKIREIへ</p>
    <p>KIREIは男性特化型コスメ情報共有サービスです</p>
    <p>有益な情報を皆様で共有していきましょう</p>
  </div>
</div>

