.chats {
  padding: 80px 0 60px 0;
  background-color:rgba(245, 255, 250, 0.4);
  height: 100vh;
}

.line {
  width: 80%;
}

.chat-logo {
  font-size: 25px;
  text-align: center;
  letter-spacing: 3px;
}

.chats-user {
  width: 70%;
  margin: 0 auto;
  overflow: scroll;
  background-color:white;
  height: 64vh;
}

.chats-users-list {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px;
}

.chat-user-list {
  font-size: 20px;
  color: black;
}

.user-list:hover {
  border-bottom: 1px solid black;
  opacity: 0.5;
}

.unfollow-btn {
  background-color: rgba(245, 255, 250, 0.3);
  border: 1px solid rgba(var(--ca6,219,219,219),1);
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.unfollow-btn:hover {
  opacity: 0.7;
}

.follow-btn {
  background-color: deepskyblue;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  color: white;
}

.follow-btn:hover {
  opacity: 0.7;
}

