
header {
  height: 50px;
  width: 100%;
  background-color: rgba(44, 43, 58, 0.8);
  opacity: 0.5;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.kirei {
  line-height: 50px;
  padding: 0 30px;
  color: antiquewhite;
  background-color: rgba(194, 193, 134, 0.8);
  transition: all 0.5s;
  display: inline-block;
  margin-left: 30px;
  font-size: 20px;
  font-family: 'Caveat', cursive;
}

.login {
  line-height: 50px;
  color: antiquewhite;
  padding: 0 29px;
  display: inline-block;
  background-color: rgba(194, 193, 134, 0.8);
  transition: all 0.5s;
  margin-right: 25px;
  font-size: 25px;
  font-family: 'Caveat', cursive;
}

.sign-up {
  line-height: 50px;
  color: antiquewhite;
  padding: 0 25px;
  display: inline-block;
  background-color: rgba(194, 193, 134, 0.8);
  transition: all 0.5s;
  margin-right: 25px;
  font-size: 25px;
  font-family: 'Caveat', cursive;
}

.logout {
  line-height: 50px;
  color: antiquewhite;
  padding: 0 20px;
  display: inline-block;
  background-color: rgba(194, 193, 134, 0.8);
  transition: all 0.5s;
  margin-right: 25px;
  font-size: 27px;
  font-family: 'Caveat', cursive;
}

.user-nickname {
  line-height: 50px;
  color: antiquewhite;
  padding: 0 30px;
  display: inline-block;
  background-color: rgba(194, 193, 134, 0.8);
  transition: all 0.5s;
  margin-right: 40px;
  font-size: 25px;
}

.user-nickname:hover {
  background-color: rgba(112, 12, 12, 0.8);
}

.logout:hover {
  background-color: rgba(112, 12, 12, 0.8);
}

.kirei:hover {
  background-color: rgba(112, 12, 12, 0.7);
}

.login:hover {
  background-color: rgba(112, 12, 12, 0.7);
}

.sign-up:hover {
  background-color: rgba(112, 12, 12, 0.8);
}

.top-wrapper {
  text-align: center;
  padding: 170px 0 200px;
}

.top-wrapper h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
}

.top-wrapper p {
  margin-top: 9px;
  font-size: 19px;
}

.posts {
  background-color:rgba(245, 255, 250, 0.3);
  width: 100%;
  height: 100vh;
  padding: 50px 0 60px 0;
  overflow: scroll;
}

.mypage-logo {
  font-size: 30px;
  margin-bottom: 20px;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-post {
  height: 60px;
  width: 75%;
  background-color:rgba(242, 245, 248, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name-post {
  position: relative;
  color: black;
  font-size: 20px;
}

.user-name-post:hover {
  border-bottom: 1px solid black;
}

.main-post {
  width: 75%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.image-main-post {
  width:  550px;
  height: 550px;
}

.footer-post {
  height: 120px;
  width: 75%;
  background-color: rgba(245, 245, 248, 0.9);
  padding: 0 10px;
  margin-bottom: 50px;
}

.footer-post p {
  color: rgb(78, 44, 44);
}

.purchase-btn {
  width: 120px;
  background-color: rgba(44, 43, 58, 0.4);
  text-align: center;
  border-radius: 50%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  transition: all 0.5s;
}

.purchase-btn:hover {
  background-color: rgba(112, 12, 12, 0.5);
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
  height: calc(100vh - 640px);
}

.container {
  position: relative;
}

footer {
  height: 60px;
  width: 100%;
  background-color: rgba(236, 235, 222, 0.4);
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0; 
}

footer p {
  font-family: 'Caveat', cursive;
  font-size: 23px;
  line-height: 60px;
}
