
header {
  height: 50px;
  width: 100%;
  background-color: rgba(44, 43, 58, 0.8);
  opacity: 0.5;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-top {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.kirei {
  line-height: 50px;
  padding: 0 25px;
  color: antiquewhite;
  background-color: rgba(194, 193, 134, 0.8);
  transition: all 0.5s;
  display: inline-block;
  margin-left: 30px;
  font-size: 25px;
  font-family: 'Caveat', cursive;
}

.ranking {
  line-height: 50px;
  padding: 0 20px;
  color: antiquewhite;
  background-color: rgba(194, 193, 134, 0.8);
  transition: all 0.5s;
  display: inline-block;
  margin-left: 30px;
  font-size: 25px;
  font-family: 'Caveat', cursive;
}

.login {
  line-height: 50px;
  color: antiquewhite;
  padding: 0 29px;
  display: inline-block;
  background-color: rgba(194, 193, 134, 0.8);
  transition: all 0.5s;
  margin-right: 25px;
  font-size: 30px;
  font-family: 'Caveat', cursive;
}

.sign-up {
  line-height: 50px;
  color: antiquewhite;
  padding: 0 20px;
  display: inline-block;
  background-color: rgba(194, 193, 134, 0.8);
  transition: all 0.5s;
  margin-right: 25px;
  font-size: 30px;
  font-family: 'Caveat', cursive;
}

.logout {
  line-height: 50px;
  color: antiquewhite;
  padding: 0 20px;
  display: inline-block;
  background-color: rgba(194, 193, 134, 0.8);
  transition: all 0.5s;
  margin-right: 25px;
  font-size: 30px;
  font-family: 'Caveat', cursive;
}

.my-page {
  line-height: 50px;
  color: antiquewhite;
  padding: 0 20px;
  display: inline-block;
  background-color: rgba(194, 193, 134, 0.8);
  transition: all 0.5s;
  margin-right: 40px;
  font-size: 30px;
  font-family: 'Caveat', cursive;
}

.my-page:hover {
  background-color: rgba(112, 12, 12, 0.8);
}

.logout:hover {
  background-color: rgba(112, 12, 12, 0.8);
}

.kirei:hover {
  background-color: rgba(112, 12, 12, 0.7);
}

.login:hover {
  background-color: rgba(112, 12, 12, 0.7);
}

.sign-up:hover {
  background-color: rgba(112, 12, 12, 0.8);
}

.ranking:hover {
  background-color: rgba(112, 12, 12, 0.8);
}

.top-wrapper {
  text-align: center;
  padding: 150px 0 0 0;
}

.top-wrapper h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
}

.top-wrapper p {
  margin-top: 9px;
  font-size: 19px;
}

.mypage-container {
  width: 75%;
  margin: 30px auto;
}

.mypage-posts {
  background-color:rgba(245, 255, 250, 0.3);
  width: 100%;
  height: 100vh;
  padding: 50px 0 60px 0;
  overflow: scroll;
}

.mypage-logo {
  text-align: center;
  font-size: 35px;
  letter-spacing: 3px;
  opacity: 0.7;
  margin-bottom: 5px;
}

.mypage-follow {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.mypage-link {
  height: 550px;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-post {
  height: 60px;
  width: 75%;
  background-color:rgba(242, 245, 248, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.user-name-post {
  position: relative;
  color: black;
  font-size: 20px;
}

.user-name-post:hover {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  opacity: 0.5;
}

.main-post {
  width: 75%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.mypage-post {
  width: 75%;
  background-color: white;
  display: flex;
  justify-content: center;
  height: 500px;
}

.link-image {
  height: 550px;
}

.image-main-post {
  width:  550px;
  height: 550px;
}

.image-main-show {
  width: 400px;
  height: 400px;
}

.image-main-mypage {
  width: 500px;
  height: 500px;
}

.footer-post {
  width: 75%;
  background-color: rgba(245, 245, 248, 0.9);
  padding: 10px;
  margin-bottom: 30px;
}

.footer-show {

  width: 75%;
  background-color: rgba(245, 245, 248, 0.9);
  padding: 10px;
}

.caption {
  color: rgb(78, 44, 44);
}

.caption {
  color: rgb(78, 44, 44);
}

.purchase-btn {
  width: 120px;
  background-color: rgba(44, 43, 58, 0.4);
  text-align: center;
  border-radius: 50%;
  bottom: 60px;
  right: 32px;
  position: fixed;
  padding: 16px;
  transition: all 0.5s;
}

.purchase-btn:hover {
  background-color: rgba(112, 12, 12, 0.5);
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
  height: calc(100vh - 630px);
}

.container {
  position: relative;
}

footer {
  height: 60px;
  width: 100%;
  background-color: rgba(236, 235, 222, 0.4);
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0; 
}

footer p {
  font-family: 'Caveat', cursive;
  font-size: 23px;
  line-height: 60px;
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}

.like-btn {
 color: black;
 margin-left: 10px;
}

.unlike-btn {
  color: red;
  margin-left: 10px;
}

#q_category_id_eq {
  height: 28px;
}

.ranking-icon {
  position: relative;
  right: 20px;
  top: 20px;
}

.top-ranking-post {
  height: 60px;
  width: 68%;
  background-color:rgba(242, 245, 248, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.main-ranking-post {
  width: 68%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.footer-ranking-post {
  width: 68%;
  background-color: rgba(245, 245, 248, 0.9);
  padding: 10px;
  margin-bottom: 30px;
}