
.new-post {
  width: 100%;
  height: calc(100vh - 110px);
  padding: 50px 0 50px 0;
}

.form {
  background-color: white;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding: 200px 0 240px 0;
}

.image-post {
  padding-top: 50px;
}

.file-post {
  padding-left: 54px;
}

.text-post {
  resize: none;
  width:370px;
  height:170px;
  margin: 33px 0;
  border-color:silver;
  border-radius: 7px
}

.category {
  margin-bottom: 5px;
}

.post-category {
  margin-bottom: 33px;
}

.collection-post {
  width: 300px;
  height: 30px;
  border-color: silver;
  border-radius: 7px;
}

.post-submit {
  opacity: 0.7;
}

.submit {
  width: 150px;
  height: 50px;
  font-family: 'Caveat', cursive;
  font-size: 24px;
  border: 1px solid silver;
  border-radius: 7px;
  margin-top: 30px;
}

.submit:active {
  border: none;
}
