.trash-edit {
  flex-direction: column;
}

.trash-btn {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(44, 43, 58, 0.6);
  opacity: 0.6;
  transition: all 0.5s;
  color: whitesmoke;
}

.edit-btn {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(44, 43, 58, 0.6);
  opacity: 0.6;
  transition: all 0.5s;
  color: whitesmoke;
}

.message-btn {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(44, 43, 58, 0.6);
  opacity: 0.6;
  transition: all 0.5s;
  color: whitesmoke;
  z-index: 5;
  position: absolute;
  left: 50px;
}

.direct-message {
  position: relative;
  display: flex;
  justify-content: center;
}

.trash-btn:hover {
  background-color: rgba(112, 12, 12, 0.8);
}

.edit-btn:hover {
  background-color: rgba(112, 12, 12, 0.8);
}

.message-btn:hover {
  background-color: rgba(112, 12, 12, 0.8);
}

.trash-edit {
  height: 400px;
}

.image-link {
  height: 400px;
}

.comments {
  width: 75%;
  margin: 0 auto;
  padding: 50px 0;
}

.comment-form {
  display: flex;
  justify-content: space-between;
}

.comment-area {
  height: 30px;
  width: 600px;
  border: none;
  resize: none;
  outline: none;
}

.comment-submit {
  border: none;
  background-color: white;
  color: deepskyblue;
  cursor: pointer;
}

.comment-submit:hover {
  color: deepskyblue;
  opacity: 0.5;
}

.comment-dates {
width: 75%;
margin: 0 auto;
padding-bottom:10px;
}

.comment-text span {
  color: rgb(78, 44, 44);
  margin-left: 10px
}

.comment-username {
  color: black;
}

.comment-username:hover {
  opacity: 0.5;
}

.trash-btn-comment {
  float: right;
  color: deepskyblue;
  position: relative;
}

.user-show-chat {
  background-color: deepskyblue;
  position: absolute;
  left: 50px;
  border: none;
  border-radius: 5px;
  padding: 11px 16px;
  cursor: pointer;
  color: white;
  display: inline;
  width: 100px;
  height: 45px;
}

.user-show-chat:hover {
  opacity: 0.7;
}

.posts-or-likes {
  text-align: center;
  font-size: 20px;
}

.my-posts {
  margin-right: 10px;
}

.my-likes {
  color: black;
  opacity: 0.5;
  margin-left: 10px;
}

.my-likes:hover {
  border-bottom: 1px solid black;
}

.like-posts {
  margin-right: 10px;
  color: black;
  opacity: 0.5;
}

.like-likes {
  margin-left: 10px;
}

.like-posts:hover {
  border-bottom: 1px solid black;
}