.trash-edit {
  flex-direction: column;
}

.trash-btn {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(44, 43, 58, 0.6);
  opacity: 0.6;
  transition: all 0.5s;
  color: whitesmoke;
}

.edit-btn {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(44, 43, 58, 0.6);
  opacity: 0.6;
  transition: all 0.5s;
  color: whitesmoke;
}

/* .fa {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(44, 43, 58, 0.6);
  opacity: 0.6;
  transition: all 0.5s;
  color: whitesmoke;
}  */

.trash-btn:hover {
  background-color: rgba(112, 12, 12, 0.8);
}

.edit-btn:hover {
  background-color: rgba(112, 12, 12, 0.8);
}

.trash-edit {
  height: 400px;
}

.image-link {
  height: 400px;
}

.comments {
  width: 75%;
  margin: 0 auto;
  padding: 50px 0;
}

.comment-form {
  display: flex;
  justify-content: space-between;
}

.comment-area {
  height: 30px;
  width: 600px;
  border: none;
  resize: none;
  outline: none;
}

.comment-submit {
  border: none;
  background-color: white;
  color: deepskyblue;
  cursor: pointer;
}

.comment-submit:hover {
  color: deepskyblue;
  opacity: 0.5;
}

.comment-dates {
width: 75%;
margin: 0 auto;
padding-bottom:10px;
}

.comment-text span {
  color: rgb(78, 44, 44);
  margin-left: 10px
}



.trash-btn-comment {
  float: right;
  color: deepskyblue;
  position: relative;
}
