// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.registrations {
  background-image: image-url('kireisugi.jpg');
  width: 100%;
  background-repeat:  no-repeat;  
  background-position:top; 
  background-size:cover;
  opacity: 0.6;
  height: 100vh;
  overflow: scroll;
  padding: 50px 0 60px 0;
} 

.new_user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registrations h2 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 10px;
  font-family: 'Caveat', cursive;
}

.registration-field {
  margin-top: 5px;
}

.actions {
  text-align: center;
  margin-top: 8px;
}

.submit-btn {
  padding: 0 20px;
  background-color: aliceblue;
  font-family: 'Caveat', cursive;
  font-size: 25px;
}

.gender-select-box {
  width: 100px;
}

.sessions {
  background-image: image-url('kireisugi.jpg');
  width: 100%;
  height: 100vh;
  background-repeat:  no-repeat;  
  background-position:top; 
  background-size:cover;            
  opacity: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}


.session h2 {
  text-align: center;
  font-size: 50px;
  font-family: 'Caveat', cursive;
}

.session-field {
  margin: 20px 0;
}

.mypage-posts {
  background-image: image-url('kirei-index.jpg');
  background-repeat:  no-repeat;
  background-position:top;
  background-size:cover;
  width: 100%;
  padding-top: 50px;
}