
.line {
  width: 80%;
}

.follows-log {
  text-align: center;
  font-size: 55px;
  letter-spacing: 3px;
  font-family: 'Caveat', cursive;
}

.follows-user {
  width: 70%;
  margin: 0 auto;
  overflow: scroll;
  height: 64vh;
}

.follows-user-list {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px;
}

.user-list {
  font-size: 20px;
  color: black;
}

.user-list:hover {
  border-bottom: 1px solid black;
  opacity: 0.5;
}

.unfollow-btn {
  background-color: rgba(245, 255, 250, 0.3);
  border: 1px solid rgba(var(--ca6,219,219,219),1);
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.unfollow-btn:hover {
  opacity: 0.7;
}

.follow-btn {
  background-color: deepskyblue;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  color: white;
}

.follow-btn:hover {
  opacity: 0.7;
}

.fix {
  background-color: rgba(192, 192, 192, 0.685);
}

@media (max-width: 520px) {
  .follows-log {
    font-size: 35px;
  }
  .follows-user-list {
    margin: 5px 10px;
  }
  .breadcrumbs {
    font-size: 13px;
  }
  .follow-btn {
    padding: 2px;
  }
  .unfollow-btn {
    padding: 2px;
  }
}
