.sessions {
  height: calc(100vh - 60px);
  padding-top: 130px;
  overflow: scroll;
}

.sessions-logo {
  text-align: center;
  font-size: 60px;
  font-family: 'Caveat', cursive;
  color: aliceblue;
  margin-bottom: 30px;
}

.session-field {
margin-bottom: 20px;
}

.login-btn {
  display: inline-block;
  border-radius: 20%;
  font-size: 30pt;
  text-align: center;
  cursor: pointer;
  padding: 12px 30px;
  background: rgba(153, 153, 153, 0.77);
  color: #ffffff;
  font-family: 'Caveat', cursive;
  line-height: 1em;
  transition: .3s;
  box-shadow: 6px 6px 3px #b3adad;
  border: 2px solid rgba(153, 153, 153, 0.77);
}

.login-btn:hover {
  box-shadow: none;
  color: rgba(153, 153, 153, 0.77);
  background: #ffffff;
}