.mypage-container {
  width: 75%;
  margin: 30px auto;
}

.direct-message {
  position: relative;
  display: flex;
  justify-content: center;
}

.message-btn {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(44, 43, 58, 0.6);
  opacity: 0.6;
  transition: all 0.5s;
  color: whitesmoke;
  z-index: 5;
  position: absolute;
  left: 50px;
}

.message-btn:hover {
  background-color: rgba(112, 12, 12, 0.8);
}

.user-show-chat {
  background-color: deepskyblue;
  position: absolute;
  left: 50px;
  border: none;
  border-radius: 5px;
  padding: 11px 16px;
  cursor: pointer;
  color: white;
  display: inline;
  width: 100px;
  height: 45px;
}

.user-show-chat:hover {
  opacity: 0.7;
}

.mypage-logo {
  font-size: 55px;
  letter-spacing: 3px;
  opacity: 0.7;
  margin-bottom: 15px;
  font-family: 'Caveat', cursive;
  text-shadow: 2px 2px 10px black;

}

.mypage-follow {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.posts-or-likes {
  text-align: center;
  font-size: 20px;
}

.my-posts {
  margin-right: 10px;
}

.my-likes {
  color: black;
  opacity: 0.5;
  margin-left: 10px;
}

.my-likes:hover {
  border-bottom: 1px solid black;
}

.mypage-post {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.no-mypage-post {
  text-align: center;
  font-size: 30px;
  opacity: 0.7;
}

@media (max-width: 1024px) {
  .mypage-logo {
    font-size: 40px;
  }
  .message-btn {
    height: 67px;
    width: 67px;
    position: absolute;
    left: 500px;
  }
  .user-show-chat {
    left: 0;
  }
  .follow-btn {
    padding: 5px 10px;
  }
  .unfollow-btn {
    padding: 5px 10px;
  } 
}

@media (max-width: 730px) {
  .message-btn {
    height: 67px;
    width: 67px;
    position: absolute;
    left: 400px;
  }
  .user-show-chat {
    display: none;
  }
  .footer-post p {
    font-size: 13px;
  }
  .user-name-post {
    font-size: 16px;
  }
  .caption-area {
    height: 55px;
  }
}

@media (max-width: 630px) {
  .user-show-chat {
    left: 400px;
  }
  .text-small {
    font-size: 17px;
  }
  .mypage-posts {
    padding-top: 15px;
  }
}

@media (max-width: 590px) {
  .message-btn {
    height: 67px;
    width: 67px;
    position: absolute;
    left: 310px;
  }
}

@media (max-width: 519px) {
  .message-btn {
    height: 67px;
    width: 67px;
    position: absolute;
    left: 270px;
  }
}

@media (max-width: 410px) {
  .message-btn {
    height: 65px;
    width: 65px;
    position: absolute;
    left: 210px;
  }
}

@media (max-width: 290px) {
  .message-btn {
    left: 180px;
  }
}
