header {
  height: 50px;
  width: 100%;
  background-color: rgba(44, 43, 58, 0.8);
  opacity: 0.5;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-top {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.kirei {
  line-height: 50px;
  padding: 0 25px;
  color: antiquewhite;
  background-color: rgba(194, 193, 134, 0.8);
  transition: all 0.5s;
  display: inline-block;
  margin-left: 30px;
  font-size: 25px;
  font-family: 'Caveat', cursive;
}

.kirei:hover {
  background-color: rgba(112, 12, 12, 0.7);
}

.hum-kirei:hover {
  opacity: 0.7;
}

.ranking {
  line-height: 50px;
  padding: 0 20px;
  color: antiquewhite;
  background-color: rgba(194, 193, 134, 0.8);
  transition: all 0.5s;
  display: inline-block;
  margin-left: 30px;
  font-size: 25px;
  font-family: 'Caveat', cursive;
}

.ranking:hover {
  background-color: rgba(112, 12, 12, 0.8);
}

.hum-ranking:hover {
  opacity: 0.7;
}

.my-page {
  line-height: 50px;
  color: antiquewhite;
  padding: 0 20px;
  display: inline-block;
  background-color: rgba(194, 193, 134, 0.8);
  transition: all 0.5s;
  margin-right: 40px;
  font-size: 30px;
  font-family: 'Caveat', cursive;
}

.my-page:hover {
  background-color: rgba(112, 12, 12, 0.8);
}

.hum-my-page:hover {
  opacity: 0.7;
}

.logout {
  line-height: 50px;
  color: antiquewhite;
  padding: 0 20px;
  display: inline-block;
  background-color: rgba(194, 193, 134, 0.8);
  transition: all 0.5s;
  margin-right: 25px;
  font-size: 30px;
  font-family: 'Caveat', cursive;
}

.logout:hover {
  background-color: rgba(112, 12, 12, 0.8);
}

.hum-logout:hover {
  opacity: 0.7;
}

.login {
  line-height: 50px;
  color: antiquewhite;
  padding: 0 29px;
  display: inline-block;
  background-color: rgba(194, 193, 134, 0.8);
  transition: all 0.5s;
  margin-right: 25px;
  font-size: 30px;
  font-family: 'Caveat', cursive;
}

.login:hover {
  background-color: rgba(112, 12, 12, 0.7);
}

.hum-login:hover {
  opacity: 0.7;
}

.sign-up {
  line-height: 50px;
  color: antiquewhite;
  padding: 0 20px;
  display: inline-block;
  background-color: rgba(194, 193, 134, 0.8);
  transition: all 0.5s;
  margin-right: 25px;
  font-size: 30px;
  font-family: 'Caveat', cursive;
}

.sign-up:hover {
  background-color: rgba(112, 12, 12, 0.8);
}

.hum-signup:hover {
  opacity: 0.7;
}

.menu-icon {
  cursor: pointer;
  border-radius: 10px;
}

.menu-icon:hover {
  opacity: 0.7;
}

.menu-list {
  position: fixed;
	top: 0;
	left: -100%;
	width: 180px;
	height: 300px;
  background-color: rgb(194, 193, 134);
}

.menus {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  position: relative;
}

.menus li {
  display: block;
  margin-top: 20px;
  font-size: 20px;
}

@keyframes Animation {
  0% {
    width: 20px;
  }
  50% {
    width: 250px;
  }
  100% {
    width: 180px;
  }
}

.open {
  left: 0;
  margin-top: 50px;
  animation-name: Animation; 
  animation-duration: 3s;          
  animation-timing-function: ease; 
  animation-delay: 0;              
  animation-iteration-count: 1;    
  animation-direction: normal;     
  animation-fill-mode: both;
}

@media (max-width: 600px) {
  .kirei {
    display: none;
  }

  .my-page {
    display: none;
  }

  .ranking {
    display: none;
  }

  .logout {
    display: none;
  }

  .login {
    display :none;
  }

  .sign-up {
    display: none;
  }
}

@media (min-width: 600px) {
  .menu-icon {
    display: none;
  }

  .open {
    display: none;
  }
}