

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0 30px 0;
  box-shadow: 2px 2px 4px black;
}

.top-post {
  height: 60px;
  width: 57vh;
  background-color:rgba(242, 245, 248, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.user-name-post {
  position: relative;
  color: black;
  font-size: 20px;
}

.user-name-post:hover {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  opacity: 0.5;
}

.main-post {
  width: 57vh;
  background-color: white;
  display: flex;
  justify-content: center;
}

.image-main-post {
  width:  49vh;
  height: 49vh;
}

.link-image {
  width: 49vh;
  height: 49vh;
}

.footer-post {
  width: 57vh;
  background-color: rgba(245, 245, 248, 0.9);
  padding: 10px;
}

.caption {
  color: rgb(78, 44, 44);
}

.caption {
  color: rgb(78, 44, 44);
}

.purchase-btn {
  width: 120px;
  height: 120px;
  background-color: rgba(44, 43, 58, 0.4);
  text-align: center;
  border-radius: 50%;
  bottom: 60px;
  right: 32px;
  position: fixed;
  padding: 16px;
  transition: all 0.5s;
}

.purchase-btn:hover {
  background-color: rgba(112, 12, 12, 0.5);
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
}

.like-btn {
 color: black;
 margin-left: 10px;
}

.unlike-btn {
  color: red;
  margin-left: 10px;
}

#q_category_id_eq {
  height: 28px;
}

.no-post {
  text-align: center;
  font-size: 40px;
}