// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
  background-image: image-url('kireisugi.jpg');
  width: 100%;
  height: 560px;
  background-repeat:  no-repeat;  
  background-position:top; 
  background-size:cover;            
  opacity: 0.7;
}

.rankings {
  background-image: image-url('kirei-index.jpg');
  width: 100%;
  background-repeat:  no-repeat;
  background-position:top;
  background-size:cover;
  padding-top: 40px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.posts {
  background-image: image-url('kirei-index.jpg');
  background-repeat:  no-repeat;
  background-position:top;
  background-size:cover;
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.new-post {
  width: 100%;
  height: 100vh;
  padding-bottom: 100px;
  background-image: image-url('kirei-index.jpg');
  background-repeat:  no-repeat;
  background-position:top;
  background-size:cover;
}

.show-posts {
  width: 100%;
  padding-top: 50px;
  background-image: image-url('kirei-index.jpg');
  background-repeat:  no-repeat;
  background-position:top;
  background-size:cover;
}

@media (max-width: 730px) {
  .wrapper {
    height: 470px;
  }
}

@media (max-width: 450px) {
  .wrapper {
    height: 390px;
  }
}

