.ranking-logo {
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
  display: inline-block;
  transform: skewX(-30deg);
  font-weight: bold;
  text-shadow:  2px  2px 10px #777 ,
  -2px  2px 10px #777 ,
   2px -2px 10px #777 ,
  -2px -2px 10px #777;
  color: floralwhite;
  animation: strAnime 3s linear infinite;
}

@keyframes strAnime {
  0% {
      color: floralwhite;
     }
 50% {
      color: rgba(155, 236, 241, 0.699);
     }
100% {
      color: floralwhite;
     }
}

.ranking-post {
  margin: auto;
  box-shadow: 15px 15px 20px rgb(59, 58, 58);
  margin-bottom: 50px; 
}

.top-ranking-post {
  height: 60px;
  width: 80vh;
  background-color:rgba(242, 245, 248, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.user-name-ranking {
  color: black;
  font-size: 20px;
}

.user-name-ranking:hover {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  opacity: 0.5;
}

.main-ranking-post {
  width: 80vh;
  background-color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.ranking-icon {
  position: absolute;
  right: 555px;
  animation: rollkAnime 3.5s linear infinite;
}

@keyframes rollkAnime{
  50% {
    transform: rotateY(180deg);
       }
  100% {
    transform: rotateY(360deg);
       }
}

.link-ranking {
  height: 45vh;
  width: 78vh;
}

.image-ranking-post {
  height: 45vh;
  width: 78vh;
}

.footer-ranking-post {
  width: 80vh;
  background-color: rgba(245, 245, 248, 0.9);
  padding: 10px;
}

@media (max-width: 1024px) {
  .top-ranking-post {
    width: 70vh;
  }
  .main-ranking-post {
    width: 70vh;
  }
  .footer-ranking-post {
    width: 70vh;
  }
  .image-ranking-post {
    width: 68vh;
  }
  .link-ranking {
    width: 68vh;
  }
  .ranking-icon {
    right: 410px;
  }
  .ranking-logo {
    font-size: 40px;
  }
  .footer-ranking-post p {
    font-size: 13px;
  }
  .top-ranking-post p {
    font-size: 12px;
  }
  .ranking-time {
    font-size: 12px;
  }
  .user-name-ranking {
    font-size: 15px;
  }
  .footer-ranking-post p {
    font-size: 13px;
  }
}

@media (max-width: 550px) {
  .top-ranking-post {
    width: 60vh;
  }
  .main-ranking-post {
    width: 60vh;
  }
  .footer-ranking-post {
    width: 60vh;
  }
  .image-ranking-post {
    width: 58vh;
  }
  .link-ranking {
    width: 58vh;
  }
  .ranking-icon {
    left: 10px;
    height: 70px;
    width: 70px;
  }
  .ranking-logo {
    font-size: 35px;
  }
}

@media (max-width: 430px) {
  .top-ranking-post {
    width: 35vh;
  }
  .main-ranking-post {
    width: 35vh;
    height: 45vh;
  }
  .footer-ranking-post {
    width: 35vh;
  }
  .image-ranking-post {
    width: 33vh;
    height: 45vh;
  }
  .link-ranking {
    width: 33vh;
    height: 45vh;
  }
  .ranking-icon {
    height: 50px;
    width: 50px;
  }
  .ranking-logo {
    font-size: 28px;
  }
} 

@media (max-height: 1024px) {
  .ranking-icon {
    left: 30px;
  }
}

@media (max-height: 600px) {
  .ranking-icon {
    left: 20px;
  }
}

