.show-posts {
  background-color:rgba(245, 255, 250, 0.2);
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.show-post {
  margin: 30px auto;
  box-shadow: 15px 15px 20px rgb(59, 58, 58);
}

.top-show {
  height: 60px;
  width: 100vh;
  background-color:rgba(242, 245, 248, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.main-show {
  width: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
}

.image-main-show {
  width: 98vh;
  height: 65vh;
}

.show-link {
  width: 98vh;
  height: 65vh;
}

.footer-show {
  width: 100vh;
  background-color: rgba(245, 245, 248, 0.9);
  padding: 10px;
}

.trash-edit {
  height: 65vh;
  flex-direction: column;
  position: relative;
}

.trash {
  display: inline;
  position: absolute;
  top: 50vh;
}

.trash-btn {
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(44, 43, 58, 0.6);
  opacity: 0.6;
  transition: all 0.5s;
  color: whitesmoke;
}

.edit {
  display: inline;
  position: fixed;
  position: absolute;
  left: 15vh;
  top: 50vh;
}

.edit-btn {
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(44, 43, 58, 0.6);
  opacity: 0.6;
  transition: all 0.5s;
  color: whitesmoke;
}

.comments {
  width: 75%;
  margin: 0 auto;
  padding: 50px 0;
}

.comment-form {
  display: flex;
  justify-content: space-between;
}

.comment-area {
  height: 30px;
  width: 600px;
  border: none;
  resize: none;
  outline: none;
  background-color: rgba(247, 244, 244, 0.1);
}

.comment-submit {
  border: none;
  background-color: white;
  color: deepskyblue;
  cursor: pointer;
  background-color: rgba(247, 244, 244, 0.1);
}

.comment-submit:hover {
  color: deepskyblue;
  opacity: 0.5;
}

.comment-dates {
margin: 0 auto;
padding-bottom:10px;
width: 75%;
}

.comment-text span {
  color: rgb(78, 44, 44);
  margin-left: 10px
}

.comment-username {
  color: black;
}

.comment-username:hover {
  opacity: 0.5;
  
}

.no-comment {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  opacity: 0.7;
}

.trash-btn-comment {
  float: right;
  color: deepskyblue;
  position: relative;
}

.trash-btn:hover {
  background-color: rgba(112, 12, 12, 0.8);
}

.edit-btn:hover {
  background-color: rgba(112, 12, 12, 0.8);
}

.like-posts {
  margin-right: 10px;
  color: black;
  opacity: 0.5;
}

.like-likes {
  margin-left: 10px;
}

.like-posts:hover {
  border-bottom: 1px solid black;
}

.comments-area {
  display: none;
}

.comments-area-open {
  display: block;
}

.comment-count {
  opacity: 0.6;
  margin: 20px 0;
  cursor: pointer;
}

.comment-count:hover {
  opacity: 0.3;
}

@media (max-width: 730px) {
  .footer-show p {
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  .top-show {
    width: 75vh;
  }
  .main-show {
    width: 75vh;
  }
  .footer-show {
    width: 75vh;
  }
  .image-main-show {
    width: 73vh;
  }
  .show-link {
    width: 73vh;
  }
}

@media (max-width: 550px) {
  .top-show {
    width: 60vh;
  }
  .main-show {
    width: 60vh;
    height: 58vh;
  }
  .footer-show {
    width: 60vh;
  }
  .image-main-show {
    width: 58vh;
    height: 58vh;
  }
  .show-link {
    width: 58vh;
    height: 58vh;
  }
  .edit {
    top: 47.5vh;
    left: 12vh;
  }
  .trash {
    top: 47.5vh;
  }
  .edit-btn {
    height: 9vh;
    width: 9vh;
  }
  .trash-btn {
    height: 9vh;
    width: 9vh;
  }
}

@media (max-width: 430px) {
  .top-show {
    width: 40vh;
  }
  .main-show {
    width: 40vh;
    height: 50vh;
  }
  .footer-show {
    width: 40vh;
  }
  .image-main-show {
    width: 38vh;
    height: 50vh;
  }
  .show-link {
    width: 38vh;
    height: 50vh;
  }
  .edit {
    top: 40vh;;
    left: 10vh
  }
  .trash {
    top: 40vh;
  }
}

